<!DOCTYPE html>
<html ng-app="store">
<head class="container">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico">
    <title>TARUNBLOG</title>
    <div ng-controller="CssController as css">
       <link rel="stylesheet" type="text/css" ng-href="{{css.product.boot}}">
       <link rel="stylesheet" type="text/css" ng-href="{{css.product.my}}">
   </div>
   <!-- font controller start -->
   <div ng-controller="FontController as fc">
    <link ng-href={{fc.product}} rel='stylesheet' type='text/css'>
</div>
<div ng-controller="BodyFontController as fc">
    <link ng-href={{fc.product.fh}} rel='stylesheet' type='text/css'>

    <link ng-href={{fc.product.ff}} rel='stylesheet' type='text/css'>
</div>
<!-- font controller end -->
<div class = "col-md-12 heading contact" ng-controller="HeadingController as head">
   
   <h1 class="mainheading">{{head.product.heading | uppercase}}</h1>
   
</div>
</head>
<body ng-controller="StoreController as store" >
    <!-- start of nav bar -->
    <div class="body">
        <nav class="navbar mynav" ng-controller="NavController as nav">
           <!-- / start collapsed navbar -->
           <div class="navbar-header">
            <button type="button" 
            class="navbar-toggle collapsed" 
            data-toggle="collapse" 
            data-target = "#my_navbar" 
            aria-expanded="false">
            hello!
        </button>
    </div><!-- / collapsed navbar -->
    <div class="collapse navbar-collapse" id= "my_navbar">
        <ul class = "nav navbar-nav" ng-repeat="ls in nav.product">
          <li class="active contact">
            <a class="toplist" ng-href="{{ls.url}}">{{ls.name}}</a>
        </li>
    </ul>
</div>
</nav>
<!-- end of nav bar -->
<!-- start of breadcrumb -->
<div class="container" >
    <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li><a href="blog.html">Blog</a></li>
    </ol>
</div>
<!-- end of breadcrumb -->
<div ng-controller="NewsController as nc">
<div class="row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-5 col-md-5">
    <h3>Career Articles</h3>
</div>
</div>
<div class="list-group" ng-repeat="art in nc.product">
<div class="row">   
<div class="col-xs-1 col-md-1">
</div>
<div class="col-md-5 col-xs-5 careerart list-group-item">
    <h4><a ng-href="{{art.url}}">{{art.title | uppercase}}</a></h4>
    <p>{{art.content}}</p>
</div>
</div>
</div>
</div>

<!-- start of footer -->
<div class="footerpad">

    <footer class = "panel-footer footer-default backfoot"  ng-controller="FooterNavController as footnav">
        <div class="row nav-bar-custom">
            <ul class = "nav navbar-nav nav-bar-custom" ng-repeat="ls in footnav.product">
                <li>
                    <a ng-href="{{ls.url}}">{{ls.name}}</a>
                </li>
            </ul>
        </div>
    </footer>
</div>
<!-- end of footer --><script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>

</body>


</html>