<!DOCTYPE html>
<html ng-app="store">

<head class="container">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico">
    <title>TARUNBLOG</title>
    
    <div ng-controller="CssController as css">
        <link rel="stylesheet" type="text/css" ng-href="{{css.product.boot}}">
        <link rel="stylesheet" type="text/css" ng-href="{{css.product.my}}">
    </div>
    <style>
    [ng-cloak]{
        display:none;
    }

    </style>
    <!-- font controller start -->
    <div ng-controller="FontController as fc">
        <link ng-href={{fc.product}} rel='stylesheet' type='text/css'>
    </div>
    <div ng-controller="BodyFontController as fc">
        <link ng-href={{fc.product.fh}} rel='stylesheet' type='text/css'>

        <link ng-href={{fc.product.ff}} rel='stylesheet' type='text/css'>
    </div>
    <!-- font controller end -->
    <div class="col-md-12 heading blog" ng-controller="HeadingController as head">

        <h1 class="mainheading">{{head.product.heading | uppercase}}</h1>

    </div>
</head>

<body ng-controller="StoreController as store" ng-cloak>
    <!-- start of nav bar -->
    <div class="body">
        <nav class="navbar mynav" ng-controller="NavController as nav">
            <!-- / start collapsed navbar -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my_navbar" aria-expanded="false">
                    hello!
                </button>
            </div>
            <!-- / collapsed navbar -->
            <div class="collapse navbar-collapse" id="my_navbar">
                <ul class="nav navbar-nav" ng-repeat="ls in nav.product">
                    <li class="active blog">
                        <a class="toplist" ng-href="{{ls.url}}">{{ls.name}}</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- end of nav bar -->
        <!-- start of breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a>
                </li>
                <li><a href="blog.html">Blog</a>
                </li>
            </ol>
        </div>
        <!-- end of breadcrumb -->
        <div ng-controller="MovieController">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <ul class="list-inline">
                        <div class="well">
                            <h3 >Movie Search</h3>
                            <input class="form-control" type="text" ng-model="moviename" ng-change="call(moviename)">
                        </div>

                    </ul>
                </div>
            </div>
            <div class="row" ng-if="movie.Response === 'True'">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <img ng-src="{{movieg.Poster}}">
                </div>
                <div class="col-md-4">
                    <div class="page-header">
                        <h3>{{movie.Search[0].Title}}</h3>
                    </div>
                    <p>{{movieg.Plot}}</p>
                    <div class="row">
                        <div class="col-md-5">
                            <h4><span class="label-danger" style="color:white; padding:2px">{{"Rating: "+movieg.imdbRating}}</span></h4>
                            <span class="label">{{movieg.Rated}}</span>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Actors: </h4>
                            <p>{{movieg.Actors}}</p>
                            <h4>Release Date: {{movieg.Year}}</h4>
                            <h4><span class="label-info" style="color:white; padding:2px" >{{"Rated: "+movieg.Rated}}</span></h4>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="page-header">
                        <h4>Related</h4>
                    </div>
                    <div ng-repeat="j in movie.Search">
                        <a href="" ng-click="call(j.Title)"><p>{{j.Title}}</p></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <hr /></div>
                <div class="col-md-1"></div></div>
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-6">
                        <div ng-controller = "NewsController as nc" >

                            <ul class="list-inline">
                                <div class="row">
                                    <div class="col-md-1"></div>       
                                    <div><div class="col-xs-10 col-md-10 page-header"  ng-init="singleSelect='title'" >
                                        <div class="col-md-6">
                                            <h1>Career Articles

                                            </div>
                                            <div class="col-md-6">
                                                <label for="des"><small><li><h4>SortBy:</h4></li></small></label></h1>
                                                <li>
                                                    <select id="des" class= "form-control"  name="singleSelect" ng-model="singleSelect" >
                                                        <option value='title'>Title</option>
                                                        <option value='content'>Description</option>
                                                    </select>
                                                </li>
                                            </div></div></div>    
                                        </div>
                                    </ul>


                                    <div class="list-group" id="sortbytitle" name="singleSelect" ng-repeat="art in nc.product | orderBy:select() | limitTo:3 ">
                                        <div class="row">
                                            <div class="col-xs-1 col-md-1">
                                            </div>
                                            <div class="col-md-9 col-xs-9 careerart list-group-item">
                                                <h4><a ng-href="{{art.url}}">{{art.title | uppercase}}</a></h4>
                                                <p>{{art.content}}</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- start of calculator -->
                            <div class="col-md-4" ng-controller="CalcController">

                                <div class="row page-header"><h1>Calculator</h1></div>
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-md-push-1 col-xs-1"></div>
                                    <div class="col-md-11 col-xs-11 pull-left "><input readonly type="text" ng-model="value" ng-value = "value" class="form-control row"></div></div>
                                    <br>
                                    <hr />
                                    <br>
                                    <br>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2"><h4><input type="submit" value="1"  ng-click="val(1)" class="btn btn-default"></button></h4></div>

                                        <div class="col-md-2"><h4><input type="submit" value="2"  ng-click="val(2)" class="btn btn-default"></button></h4></div>

                                        <div class="col-md-2"><h4><input type="submit" value="3"  ng-click="val(3)" class="btn btn-default"></button></h4></div>
                                        <div class="col-md-2"><h4><input type="submit" value="Add"  ng-click="val('+')" class="btn btn-default"></button></h4></div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2"><h4><input type="submit" value="4"  ng-click="val(4)" class="btn btn-default"></button></h4></div>

                                        <div class="col-md-2"><h4><input type="submit" value="5"  ng-click="val(5)" class="btn btn-default"></button></h4></div>

                                        <div class="col-md-2"><h4><input type="submit" value="6"  ng-click="val(6)" class="btn btn-default"></button></h4></div>
                                        <div class="col-md-2"><h4><input type="submit" value="Sub"  ng-click="val('-')" class="btn btn-default"></button></h4></div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2"><h4><input type="submit" value="7" ng-click="val(7)" class="btn btn-default"></button></h4></div>

                                        <div class="col-md-2"><h4><input type="submit" value="8"  ng-click="val(8)" class="btn btn-default"></button></h4></div>

                                        <div class="col-md-2"><h4><input type="submit" value="9"  ng-click="val(9)" class="btn btn-default"></button></h4></div>
                                        <div class="col-md-2"><h4><input type="submit" value="Mul"  ng-click="val('*')" class="btn btn-default"></button></h4></div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2"><h4><input type="submit" value="C" ng-click="val('C')" class="btn btn-default"></button></h4></div>

                                        <div class="col-md-2"><h4><input type="submit" value="0"  ng-click="val(0)" class="btn btn-default"></button></h4></div>

                                        <div class="col-md-2"><h4><input type="submit" value="Div"  ng-click="val('/')" class="btn btn-default"></button></h4></div>
                                        <div class="col-md-2"><h4><input type="submit" value="Equals"  ng-click="val('=')" class="btn btn-default"></button></h4></div>

                                    </div>
                                </div>
                            </div>
                            <!-- end of calculator -->
                            <!-- start of weather controller -->
                            <br>
                            <div ng-controller="CityController">
                                <div class="row" >
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5" >
                                        <div class="row">
                                            <div class="col-md-1 col-xs-1"></div>
                                            <div class="col-md-10 col-xs-10">
                                                <div class="page-header">
                                                    <h1>
                                                        Weather
                                                    </h1>
                                                </div>  
                                                <hr />
                                                <form class="form-group">
                                                    <label for="city"><h3><span>Enter a City Name</span></h3></label>
                                                    <input class="form-control" id="city" type="text" ng-model="city" ng-keypress="call()">
                                                </form>
                                            </div>
                                            <div class="col-md-1 col-xs-1"></div>    
                                        </div>

                                        <div ng-repeat="i in data1.geonames | limitTo:1">
                                            <div class="row" ng-init="showdetails=false">
                                                <div class="col-md-1 col-xs-1"></div>
                                                <div class="media col-md-10 col-xs-10">
                                                    <div class="media-left">
                                                        <div class="media-body">
                                                            <blockquote>
                                                                <div class="row">
                                                                    <div class="col-md-11">
                                                                        <h4>{{i.toponymName}}</h4>
                                                                        <div ng-show="showdetails" class="well">
                                                                            <h4 class="row">
                                                                                <div class="col-md-1"></div>
                                                                                countryName: {{i.countryName}}
                                                                            </h4>
                                                                            <h4 class="row">
                                                                                <div class="col-md-1"></div>
                                                                                population: {{i.population}}
                                                                            </h4>
                                                                            <h4 class="row">
                                                                                <div class="col-md-1"></div>
                                                                                Weather: {{data2.weatherObservation.temperature}}<sup>o</sup>C
                                                                            </h4>
                                                                            <h4 class="row">
                                                                                <div class="col-md-1"></div>
                                                                                Clouds: {{data2.weatherObservation.clouds}}
                                                                            </h4>
                                                                            <h4 class="row">
                                                                                <div class="col-md-1"></div>
                                                                                windSpeed: {{data2.weatherObservation.windSpeed}} mph
                                                                            </h4>
                                                                            <h4 class="row">
                                                                                <div class="col-md-1"></div>
                                                                                dewPoint: {{data2.weatherObservation.dewPoint}}<sup>o</sup>C
                                                                            </h4>
                                                                            <div class="row"></div>
                                                                            <h4 class="row"><div class="col-md-1">
                                                                            </div>Neighbour Countries</h4>
                                                                            <div ng-repeat="l in data5.geonames">
                                                                                <h4 class="row">
                                                                                    <div class="col-md-1"></div>
                                                                                    <strong>{{l.name}}</strong>
                                                                                </h4>
                                                                            </div>
                                                                            <div class="row"></div>

                                                                            <h4 class="row"><div class="col-md-1">
                                                                            </div>Tourist Places</h4>
                                                                            <div ng-repeat="k in data4.geonames | limitTo:5">
                                                                                <h4 class="row">
                                                                                    <div class="col-md-1"></div>
                                                                                    <strong>{{k.toponymName}}</strong>
                                                                                </h4>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <span>
                                                                            <a ng-click="details(i.lat,i.lng,i.geonameId,i.countryId);showdetails=!showdetails" class="icon">
                                                                                <span class="glyphicon glyphicon-chevron-down"></span>
                                                                            </a>
                                                                        </span>
                                                                    </div>
                                                                </div>

                                                            </blockquote>

                                                        </div>

                                                    </div>

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 ">
                                        <div class="page-header">
                                            <h1>Nearby Places</h1>
                                        </div>
                                        <div class="row well" ng-repeat="i in data3.geonames track by i.title">
                                            <div class="media">
                                                <div class="media-left media-middle">
                                                    <div class="media-body">
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <a ng-href={{i.wikipediaUrl|urlparse}}><h4>{{i.title}}</h4></a>
                                                            </div>
                                                            <div class="col-md-4 pull-right">
                                                                <h4><span class="label label-default">Rank {{i.rank}}</span></h4>
                                                            </div>
                                                        </div>
                                                        <p>{{i.summary}}</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <!-- end of weather controller -->


                                <!-- start of footer -->
                                <div class="footerpad">

                                    <footer class="panel-footer footer-default backfoot" ng-controller="FooterNavController as footnav">
                                        <div class="row nav-bar-custom">
                                            <ul class="nav navbar-nav nav-bar-custom" ng-repeat="ls in footnav.product ">
                                                <li>
                                                    <a ng-href="{{ls.url}}">{{ls.name}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </footer>
                                </div>
                                <!-- end of footer -->
                                <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
                                <script type="text/javascript" src="js/app.js"></script>

                            </body>


                            </html>