.heading{
	text-align: center;

}
h1.mainheading{
	font-size: 100px;
	font-family: myFirstFont;
}
a.toplist{
	font-family: verdana;
	font-size: 20px;
}
img.photos{
	
	
	transform:rotate(90deg);
}
.imgart{
	padding-bottom: 5px;
}
.gallery{
	margin-right: 40px;
	padding-right: 10px;
	padding-left: 110px;
	padding-top: 50px;
	padding-bottom: 100px;

}
.mypicture{
	padding-left: 120px;

}
@font-face {
   font-family: myFirstFont;
   src: url(Monoton-Regular.ttf);
}
.newsarticle{
	border-right: thin solid grey;
}
