<!DOCTYPE html>
<html ng-app="store">
<head class="container">
    <title>TARUNBLOG</title>
	<div ng-controller="CssController as css">
 <link rel="stylesheet" type="text/css" ng-href="{{css.product.boot}}">
 <link rel="stylesheet" type="text/css" ng-href="{{css.product.my}}">
 	</div>
    <!-- font controller start -->
    <div ng-controller="FontController as fc">
    <link ng-href={{fc.product}} rel='stylesheet' type='text/css'>
    </div>
    <div ng-controller="BodyFontController as fc">
    <link ng-href={{fc.product.fh}} rel='stylesheet' type='text/css'>
    <link ng-href={{fc.product.ff}} rel='stylesheet' type='text/css'>
    </div>
<!-- font controller end -->
 <div class = "col-md-12 heading photo" ng-controller="HeadingController as head">
 <hr>
 <h1 class="mainheading">{{head.product.heading | uppercase}}</h1>
 <hr>
</div>
</head>
<body ng-controller="StoreController as store" >
<!-- start of nav bar -->
<div class="body">
<nav class="navbar mynav" ng-controller="NavController as nav">
	<!-- / start collapsed navbar -->
 	<div class="navbar-header">
        <button type="button" 
                class="navbar-toggle collapsed" 
                data-toggle="collapse" 
                data-target = "#my_navbar" 
                aria-expanded="false">
          hello!
        </button>
    </div><!-- / collapsed navbar -->
	<div class="collapse navbar-collapse" id= "my_navbar">
        <ul class = "nav navbar-nav" ng-repeat="ls in nav.product">
          <li class="active photo">
            <a class="toplist" ng-href="{{ls.url}}">{{ls.name}}</a>
          </li>
        </ul>
    </div>
</nav>
<!-- end of nav bar -->
<!-- start of breadcrumb -->
<div class="container" >
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="photo.html">Photo</a></li>
    	</ol>
</div>
<!-- end of breadcrumb -->
<div ng-controller = "PhotoController as pic" >
    <div class= "row gallery">
        <div ng-repeat = "p in pic.product | limitTo:3">
            <div class="col-xs-3 col-md-4 photos">
                <a ng-href={{p.url}}><img  ng-src={{p.url}} width="100%" height="100%"></a>
            </div>
        </div>

    </div>
    <div class= "row gallery">
        <div ng-repeat = "p in [pic.product[3],pic.product[4],pic.product[5]] | limitTo:3">
            <div class="col-xs-3 col-md-4 photos">
                <a ng-href={{p.url}}><img  ng-src={{p.url}} width="100%" height="100%"></a>
            </div>
        </div>
        
    </div>
    <div class= "row gallery">
        <div ng-repeat = "p in [pic.product[6],pic.product[7],pic.product[8]] | limitTo:3">
            <div class="col-xs-3 col-md-4 photos">
                <a ng-href={{p.url}}><img  ng-src={{p.url}} width="100%" height="100%"></a>
            </div>
        </div>
        
    </div>
</div>
</div>









<!-- start of footer -->
<hr>

<footer class = "panel-footer footer-default backfoot"  ng-controller="FooterNavController as footnav">
    <div class="row nav-bar-custom">
    <ul class = "nav navbar-nav nav-bar-custom" ng-repeat="ls in footnav.product">
        <li>
            <a ng-href="{{ls.url}}">{{ls.name}}</a>
        </li>
    </ul>
    </div>
</footer>

<!-- end of footer -->
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>

</body>


</html>