.heading.index{
	text-align: center;
	background-color: #4285F4;
}
.heading.about{
	text-align: center;
	background-color: #0F9D58;
}
.heading.contact{
	text-align: center;
	background-color: #F4BA15;
}
.heading.photo{
	text-align: center;
	background-color: #EA4335;
}
.backfoot.index{
	background-color: #261a0d;	
}
.nav-bar-custom.index{
	background-color: #4285F4;
	color: white;
}
h1.mainheading{
	font-size: 100px;
	font-family: 'Bubblegum Sans','Londrina Solid','Arizonia',myFirstFont;
	color: white;
}
a.toplist{
	font-family: verdana;
	font-size: 20px;
}
.active.index a:hover{
	background-color: #4285F4;
	color: white;
}
.active.about a:hover{
	background-color: #0F9D58;
	color: white;
}
.active.photo a:hover{
	background-color: #EA4335;
	color: white;
}
.active.contact a:hover{
	background-color: #F4BA15;
	color: white;
}
img.photos{
	
	
	transform:rotate(90deg);
}
.imgart{
	padding-bottom: 5px;
}
.gallery{
	margin-right: 40px;
	padding-right: 10px;
	padding-left: 110px;
	padding-top: 50px;
	padding-bottom: 100px;

}
.body{
	/*background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJklEQVQYV2O0OX0hjYGBgeGIqcEsEI0LMBKtEJ8pyHKMowrxhQAABu0ICyhJAG0AAAAASUVORK5CYII=) repeat;*/
	background-color: #EEEEEE;
}
h4{
	font-family: 'Raleway';
}
.mypicture{
	padding-left: 120px;

}
@font-face {
   font-family: myFirstFont;
   src: url(Monoton-Regular.ttf);
}
.newsarticle{
	border-right: thin solid grey;
}
hr.bodyhr{
	height: 0;
	width: 85%;
	border: thin solid grey;
}
hr.bodyhr1{
	height: 0;
	width: 84%;
	border: thin solid grey;
}
div.pad{
	padding-bottom: 20px;
}
p{
	font-family: 'Spinnaker';
}